.mainbody {
    background-color: #0f0f0f;
}

.loginhead {
    font-size: x-large;
    font-family: fantasy;
    color: white;
    font-size: larger;
}

.loginbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: white;
    font-size: larger;
}